/*
  Font Imports
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono&family=Syne:wght@400..800&display=swap');

/* 
  <uniquifier>: Use a unique and descriptive class name
  <weight>: Use a value from 100 to 900 
*/

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* 
  <uniquifier>: Use a unique and descriptive class name
  <weight>: Use a value from 400 to 800
*/

.syne-regular {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 
  <uniquifier>: Use a unique and descriptive class name
*/

.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 
  Variables
*/

:root {
  /* color */

  /* --primary-color: rgb(96, 119, 245);
  --primary-color-ghost: #6077f5; */

  /* --primary-color: #E5E5E5;
  --primary-color-ghost: #F5F5F5;
  --secondary-color-kiezel: #1e1e1e;
  --secondary-color-ghost: #353739; */

  --primary-color: #1e1e1e;
  --primary-color-ghost: #353739;

  --secondary-color-kiezel: #E5E5E5;
  --secondary-color-ghost: #F5F5F5;

  --extra-outline: #25abdb;

  /* font */
  --font-primary: "Inter", var(--font-fallback);
  --font-secondary: "Roboto Mono", var(--font-fallback);
  --font-tertiary: "Syne", var(--font-fallback);

  --font-fallback: sans-serif, monospace;


  /* paddding/layout */
  --general-padding: 16px;
  --line-px: 1px;
  --line-style: solid;
  --default-button-border-radius: 6px;
  --full-button-border-radius: 999px;
  --default-button-padding: 8px 16px;

  --margin-sides: 48px;
}
/* 
@property --line-size {
  syntax: '<length>';
  initial-value: 0px;
  inherits: false;
}

@property --line-color {
  syntax: '<color>';
  initial-value: black;
  inherits: false;
}

@keyframes line-animation {
  from {
      --line-size: 1px;
      transition: all 0.3s ease-in;
  }
  to {
      --line-size: 10px;
      transition: all 0.3s ease-out; 
  }
}

@keyframes line-color-rainbow {
  0% {
    --line-color: red;
  }
  25% {
    --line-color: orange;
  }
  50% {
    --line-color: yellow;
  }
  75% {
    --line-color: green;
  }
  100% {
    --line-color: blue;
  }
}

html {
  animation: line-color-rainbow .3s infinite alternate;
  animation-delay: 0.4s;
  background-color: var(--line-color);
}

body * {
  animation: line-animation .3s infinite alternate, line-color-rainbow .3s infinite alternate;
  background-color: var(--line-color);
  border: var(--line-size) solid var(--line-color);
} */

img {
  max-width: 100%;
  height: auto;
}


body {
  max-width: 1600px;
  margin: 0 auto;
  padding: var(--general-padding);
  font-family: var(--font-primary);
  background: var(--secondary-color-kiezel);
}


body .container {
  position: relative;
  min-height: calc(100vh - (2 * var(--general-padding)));
  border: var(--line-px) var(--line-style) var(--primary-color);
}

.grid {
  margin-block-start: 0;
  margin-block-end: 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  padding: 0;
  padding-inline-start: 25px;
  gap: 50px;
}

.grid li {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}


.grid.with-lines li::after {
  display: block;
  content: "";
  background: var(--primary-color);
  width: var(--line-px);
  height: 100%;
  position: absolute;
  top: 0px;
  inset-inline-end: 0px;
}

.grid.with-lines li:nth-child(odd) {
  /* background-color: red; */
  padding-inline-end: 25px;
}

.grid.with-lines li:nth-child(even)::after {
  display: none;
}

.grid.with-lines li:nth-child(1)::before {
  content: "";
  background: var(--primary-color);
  height: var(--line-px);
  width: calc(200% + 50px);
  position: absolute;
  /* left: 0; */
  inset-block-end: -25px;
}


.grid.with-lines li:nth-child(2)::before {
  inset-block-end: -100%; 
}

/* 
  Navigation
*/

.navigation {
  background-color: var(--secondary-color-kiezel);
  top: 0;
  position: sticky;
  align-items: center;
  border-block-end: var(--line-px) var(--line-style) var(--primary-color);
  display: flex;
  justify-content: space-between;
  margin: 0 var(--margin-sides);
  padding: 10px 0;
  z-index: 1000;
}


.navigation .logo {
  margin: 10px 0;
}


.navigation a.logo:focus{
  outline: none;
}
.navigation  a.logo:focus svg {
  outline: var(--line-px) var(--line-style) var(--extra-outline);
  --alpha: 10%;
  background-color: var(--primary-color) ;
}

.navigation a.logo:focus svg path {
  fill: var(--secondary-color-kiezel);
}

.navigation .logo svg path {
  fill: var(--primary-color);
}

.navigation nav {
  align-items: center;
  display: flex;
  gap: 8px;
}

.navigation nav > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  gap: 8px;
  align-items: center;
}

.navigation nav > ul > li > a, .navigation nav > ul > li > button {
  color: var(--primary-color);
  font-family: var(--font-secondary);
  font-size: 1rem;
  padding: var(--default-button-padding);
  text-decoration: none;
  border-radius: var(--default-button-border-radius);
  text-transform: uppercase;
  background: transparent;
  border: none;
}

.navigation nav > ul > li > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.dropdown-content {
  inset-block-start: 1;
  width: 300px;
  display: none;
  position: absolute;
  background-color: var(--secondary-color-kiezel);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 16px 20px;
  z-index: 1;
  border-radius: 0 var(--default-button-border-radius) var(--default-button-border-radius) var(--default-button-border-radius);
}

#news-dropdown.show {
  display: flex;
  width: 500px;
  gap: 16px;
}

#news-dropdown .display {
  background-image: url('/images/event-1-image.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  padding: 5px 16px;
  border-radius: var(--default-button-border-radius);
  width: 40%;
  background-color: var(--primary-color);
  color: var(--secondary-color-kiezel);
}
#news-dropdown .menu-list p {
  padding: 0 0 10px 0;
  font-family: var(--font-tertiary);
  font-size: 1rem;
  font-weight: 400;
  border-bottom: var(--line-px) var(--line-style) var(--primary-color);

}

#news-dropdown .display .title {
  font-family: var(--font-tertiary);
  font-size: 1.5rem;
  font-weight: 400;
}

#news-dropdown .display p {
  font-size: .96rem;
}

#news-dropdown .menu-list {
  width: 60%;
}




#news-dropdown .menu-list a {
  color: var(--primary-color);
  padding: 12px 16px 12px 5px;
  text-decoration: none;
  display: block;
  border-radius: var(--default-button-border-radius);
  transition: 0.1s ease-in-out;
}

#news-dropdown .menu-list a:hover {
  padding: 12px 16px;
  background-color: var(--secondary-color-ghost);
  transition: 0.1s ease-in-out;
}

#news-dropdown .menu-list a.btn.primary {
  margin-block-start: 16px;
  padding: var(--default-button-padding);
  background-color: var(--primary-color);
  color: var(--secondary-color-kiezel);
}

#news-dropdown .menu-list a.btn.primary:hover {
  background-color: var(--primary-color-ghost);
}

.navigation nav > ul > li > button.active {
  border-radius: var(--default-button-border-radius) var(--default-button-border-radius) 0 0;
  background-color: color-mix(in srgb, var(--primary-color) 10%, transparent);
}

.navigation nav > ul > li > button.active svg {
  
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.navigation nav > ul > li > button svg {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.navigation nav > ul > li > button svg path {
  stroke-width: 1.5px;
}

.navigation nav > ul.cta a, 
.navigation nav > ul.cta button {
  display: block;
  background: var(--primary-color);
  color: var(--secondary-color-kiezel);
}


.navigation nav > ul.menu a:hover,
.navigation nav > ul.menu button:hover, 
.navigation nav > ul.lang a:hover, 
.navigation nav > ul.menu a:focus{
  --alpha: 10%;
  background: color-mix(in srgb, var(--primary-color) var(--alpha, 100%), transparent);
  outline-color: var(--primary-color);
}

.navigation nav > ul.mobile-menu{
  display: none;
}

.navigation nav > ul.lang {
  gap: 16px;
}

.navigation nav > ul.lang li {
  padding: 0;
}

.navigation nav > ul.lang a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: var(--secondary-color-kiezel);
  border-radius: var(--full-button-border-radius);
  color: var(--primary-color);
  padding: 0;
  border: var(--line-px) var(--line-style) var(--primary-color);  
}

.navigation nav > ul.lang .active a {
  background: var(--primary-color);
  color: var(--secondary-color-kiezel);
}

.navigation nav > ul.lang .active a:hover {
  background: var(--primary-color-ghost);
}


.navigation nav > ul.cta a:hover {
  background: var(--primary-color-ghost);
}

.navigation nav > ul.cta a:focus, 
.navigation nav > ul.lang a:focus{
  outline-color: var(--extra-outline);
  background: var(--primary-color-ghost)
}

.navigation nav > ul.lang :not(.active) a:focus{
  --alpha: 10%;
  background: color-mix(in srgb, var(--primary-color) var(--alpha, 100%), transparent);
}

.navigation nav span.devider {
  background: var(--primary-color);
  height: 32px;
  width: var(--line-px);
  margin: 0 16px;
}

section.hero {
  margin: 0 var(--margin-sides);
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 70px 0;
  border-block-end: var(--line-px) var(--line-style) var(--primary-color);
}

section.hero .content h1 {
  margin: 0;
  font-family: var(--font-tertiary);
  font-size: 4.3rem;
  font-weight: 400;
  color: var(--primary-color);
  max-width: 870px;
}

section.hero .content p {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  line-height: 1.42;
  color: var(--primary-color);
  max-width: 870px;
}


section.hero article:nth-child(2n + 1),
section.hero .hero-banner:nth-child(2n + 2) {
 flex: 0 0 calc(50% - 50px);
}

section.hero .hero-banner img {
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

section.hero .content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn.primary {
  width: fit-content;
  background: var(--primary-color);
  color: var(--secondary-color-kiezel);
  font-family: var(--font-secondary);
  padding: var(--default-button-padding);
  text-decoration: none;
  border-radius: var(--default-button-border-radius);
  text-transform: uppercase;
}

.btn.primary:hover {
  background: var(--primary-color-ghost);
}

.btn.primary:focus {
  outline-color: var(--extra-outline);
  background: var(--primary-color-ghost);
}

section.hero .content svg {
  position: absolute;
  inset-inline-end: 200px;
  inset-block-end: 15px;
}

/* 
  About page 
*/

section.info {
  margin: 0 var(--margin-sides);
  padding: 80px 0;
  border-block-end: var(--line-px) var(--line-style) var(--primary-color);
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

section.info h2 {
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-color);
  margin: 0;
  text-transform: uppercase;
}

section.info .title {
  display: block;
  min-width: 200px;
  max-width: 300px;
}

section.info article {
  border-inline-start: var(--line-px) var(--line-style) var(--primary-color);
}


section.info ul h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.75rem;
  font-weight: 300;
}

section.info ul p {
  line-height: 1.35;
  margin-block-start: 0;
  margin-block-end: 0;
}


section.events {
  margin: 0 var(--margin-sides);
  padding: 80px 0;
  border-block-end: var(--line-px) var(--line-style) var(--primary-color);
}

section.events .title {
  margin-bottom: 40px;
}

section.events h2 {
  margin: 0;
  font-family: var(--font-tertiary);
  font-size: 4.3rem;
  font-weight: 400;
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
}

section.events ul {
  margin-block-start: 0;
  margin-block-end: 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  padding: 0;
  padding-inline-start: 25px;
  gap: 50px;
}

section.events ul li {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section.events ul li h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.75rem;
  font-weight: 300;
}

section.events ul li .event {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
}

section.events ul li .content {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

section.events ul li .content .details {
  display: flex;
  gap: 16px;
  align-items: center;
}

section.events ul li .content p {
  line-height: 1.35;
}