/*
  Font Imports
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono&family=Syne:wght@400..800&display=swap');

/* 
  <uniquifier>: Use a unique and descriptive class name
  <weight>: Use a value from 100 to 900 
*/

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* 
  <uniquifier>: Use a unique and descriptive class name
  <weight>: Use a value from 400 to 800
*/

.syne-regular {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 
  <uniquifier>: Use a unique and descriptive class name
*/

.roboto-mono-regular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 
  Variables
*/

:root {
  /* color */

  /* --primary-color: #E5E5E5;
  --primary-color-ghost: #F5F5F5; */
  /* --secondary-color-kiezel: #e822c7;
  --secondary-color-ghost: #9f23b2; */

  --primary-color: #1e1e1e;
  --primary-color-ghost: #353739;

  --secondary-color-kiezel: #E5E5E5;
  --secondary-color-ghost: #F5F5F5;

  --extra-outline: #25abdb;

  /* font */
  --font-primary: "Inter", var(--font-fallback);
  --font-secondary: "Roboto Mono", var(--font-fallback);
  --font-tertiary: "Syne", var(--font-fallback);

  --font-fallback: sans-serif, monospace;

  /* paddding/layout */
  --general-padding: 16px;
  --line-px: 1px;
  --line-style: solid;
  --default-button-border-radius: 6px;
  --full-button-border-radius: 999px;
  --default-button-padding: 8px 16px;

  --margin-sides: 20px;
}

body.darkmode {
  --primary-color: #E5E5E5;
  --primary-color-ghost: #F5F5F5;
  --secondary-color-kiezel: #1e1e1e;
  --secondary-color-ghost: #353739;
}

::selection {
  background: var(--primary-color);
  color: var(--secondary-color-kiezel);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  scroll-behavior: smooth;
  max-width: 1600px;
  margin: 0 auto;
  padding: var(--general-padding);
  font-family: var(--font-primary);
  background: var(--secondary-color-kiezel);
}

img {
  border-radius: 16px;
}

@view-transition {
  navigation: auto;
}

.justify-content-between {
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
}

body > .container {
  position: relative;
  min-height: calc(100vh - (2 * var(--general-padding)));
  border: var(--line-px) var(--line-style) var(--primary-color);
}

.grid {
  margin-block-start: 0;
  margin-block-end: 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
  list-style-type: none;
  padding: 0;
  gap: 50px;
}

.grid li {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

/* 
  Navigation
*/

.navigation {
  background-color: var(--secondary-color-kiezel);
  top: 0;
  position: sticky;
  align-items: center;
  border-block-end: var(--line-px) var(--line-style) var(--primary-color);
  display: flex;
  justify-content: space-between;
  margin: 0 var(--margin-sides);
  padding: 10px 0;
  z-index: 1000;
}

body :has(.navigation ul.menu.show) .navigation{
  flex-direction: column;
  align-items: flex-start;
}

body :has(.navigation ul.menu.show) nav {
  align-items: flex-start;
}

.navigation :has(ul.menu.show) {
  flex-direction: column;
}

.navigation :has(ul.menu.show) .menu.show {
  flex-direction: column;
  align-items: flex-start;
}

.navigation :has(ul.menu.show) > ul {
  gap: 16px;
}

.navigation :has(ul.menu.show) > ul > li > a{
  display: flex;
}

.navigation .logo {
  margin: 10px 0;
}

.navigation a.logo:focus{
  outline: none;
}
.navigation  a.logo:focus svg {
  outline: var(--line-px) var(--line-style) var(--extra-outline);
  --alpha: 10%;
  background-color: var(--primary-color) ;
}

.navigation a.logo:focus svg path {
  fill: var(--secondary-color-kiezel);
}

.navigation .logo svg path {
  fill: var(--primary-color);
}

.navigation nav {
  align-items: center;
  display: flex;
  gap: 8px;
}

.navigation nav > ul {
  display: none;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  gap: 8px;
  align-items: center;
}

.navigation nav > ul > li > a {
  color: var(--primary-color);
  font-family: var(--font-secondary);
  font-size: 1rem;
  padding: var(--default-button-padding);
  text-decoration: none;
  border-radius: var(--default-button-border-radius);
  text-transform: uppercase;
  background: transparent;
  border: none;
}

.navigation nav > ul > li > button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.navigation nav > .divider {
  display: none;
}

.navigation nav > ul.cta a.navigation.scrolled {
  display: block;
  background: var(--primary-color);
  color: var(--secondary-color-kiezel);
}

.navigation nav > ul.mobile-menu {
  display: flex;
}

.navigation nav > ul.mobile-menu button{
  font-size: 1rem;
  border: none;
  display: flex;
  width: fit-content;
  background: var(--primary-color);
  color: var(--secondary-color-kiezel);
  font-family: var(--font-secondary);
  padding: var(--default-button-padding);
  text-decoration: none;
  border-radius: var(--default-button-border-radius);
  text-transform: uppercase;
}

.navigation nav > ul.mobile-menu button svg path {
  stroke: var(--secondary-color-kiezel);
}

.navigation nav > ul.menu.show {
  display: flex;
}

.navigation nav > ul.menu a:hover,
.navigation nav > ul.menu button:hover, 
.navigation nav > ul.circle-buttons a:hover, 
.navigation nav > ul.menu a:focus,
.navigation nav > ul.menu button:focus{
  --alpha: 10%;
  background: color-mix(in srgb, var(--primary-color) var(--alpha, 100%), transparent);
  outline-color: var(--primary-color);
}

.navigation nav > ul.circle-buttons {
  gap: 16px;
}

.navigation nav > ul.circle-buttons li {
  padding: 0;
}

.navigation nav > ul.circle-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: var(--secondary-color-kiezel);
  border-radius: var(--full-button-border-radius);
  color: var(--primary-color);
  padding: 0;
  border: var(--line-px) var(--line-style) var(--primary-color);  
}

.navigation nav > ul.circle-buttons .active a {
  background: var(--primary-color);
  color: var(--secondary-color-kiezel);
}

.navigation nav > ul.circle-buttons .active a:hover {
  background: var(--primary-color-ghost);
}

.navigation nav > ul.circle-buttons svg path {
  stroke-width: 1.5px;
}

.navigation nav > ul.circle-buttons svg path {
  stroke: var(--primary-color);
}

.navigation nav > ul.circle-buttons .active svg path {
  stroke: var(--secondary-color-kiezel);
}

.navigation nav > ul.cta a:hover {
  background: var(--primary-color-ghost);
}

.navigation nav > ul.cta a:focus, 
.navigation nav > ul.circle-buttons a:focus{
  outline-color: var(--extra-outline);
  background: var(--primary-color-ghost)
}

.navigation nav > ul.circle-buttons :not(.active) a:focus{
  --alpha: 10%;
  background: color-mix(in srgb, var(--primary-color) var(--alpha, 100%), transparent);
}

.navigation nav span.devider {
  display: none;
  background: var(--primary-color);
  height: 32px;
  width: var(--line-px);
  margin: 0 16px;
}

section.hero {
  flex-direction: column;
  margin: 0 var(--margin-sides);
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 70px 0;
  border-block-end: var(--line-px) var(--line-style) var(--primary-color);
}

section.hero .content h1 {
  margin: 0;
  font-family: var(--font-tertiary);
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--primary-color);
  max-width: 870px;
}

section.hero .content p {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  line-height: 1.42;
  color: var(--primary-color);
  max-width: 870px;
}

section.hero .content a:not(.btn.primary) {
  color: var(--primary-color);
  text-decoration: underline;
}

section.hero article:nth-child(2n + 1),
section.hero .hero-banner:nth-child(2n + 2) {
 flex: 0 0 calc(50% - 50px);
}

section.hero .hero-banner img {
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  max-height: 400px;
}

section.hero .content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section.hero .content .buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section.hero .content .buttons .btn.secondary {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn.primary {
  width: fit-content;
  background: var(--primary-color);
  color: var(--secondary-color-kiezel);
  font-family: var(--font-secondary);
  padding: var(--default-button-padding);
  text-decoration: none;
  border-radius: var(--default-button-border-radius);
  text-transform: uppercase;
}

.btn.primary:hover {
  background: var(--primary-color-ghost);
}

.btn.primary:focus {
  outline-color: var(--extra-outline);
  background: var(--primary-color-ghost);
}

.btn.secondary {
  width: fit-content;
  background: var(--secondary-color-kiezel);
  color: var(--primary-color);
  font-family: var(--font-secondary);
  padding: var(--default-button-padding);
  text-decoration: none;
  border-radius: var(--default-button-border-radius);
  text-transform: uppercase;
}

.btn.secondary:hover {
  text-decoration: underline;
}

section.hero .content svg {
  position: absolute;
  inset-inline-end: 200px;
  inset-block-end: 15px;
}

/* 
  About page 
*/

section.info {
  margin: 0 var(--margin-sides);
  padding: 80px 0;
  border-block-end: var(--line-px) var(--line-style) var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 25px;
  color: var(--primary-color);
}

section.info h2 {
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-color);
  margin: 0;
  text-transform: uppercase;
  padding: 0 0 25px 0;
}

section.info .title {
  display: block;
  min-width: 200px;
  max-width: 300px;
}

section.info ul h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.75rem;
  font-weight: 300;
}

section.info p {
  line-height: 1.35;
  margin-block-start: 0;
  margin-block-end: 0;
}

section.info picture {
  max-height: 260px;
}

section.info img {
  object-position: center;
  height: 300px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

section.events {
  margin: 0 var(--margin-sides);
  padding: 80px 0;
  border-block-end: var(--line-px) var(--line-style) var(--primary-color);
}

section.events .title {
  margin-bottom: 40px;
}

section.events h2 {
  margin: 0;
  font-family: var(--font-tertiary);
  font-size: 2.3rem;
  font-weight: 400;
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
}

section.events ul {
  margin-block-start: 0;
  margin-block-end: 0;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, 1fr);
  list-style-type: none;
  padding: 0;
  gap: 50px;
}

section.events ul li {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section.events ul li h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.75rem;
  font-weight: 300;
  color: var(--primary-color);
}

section.events ul li .event {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  flex-direction: column;
}

section.events ul li .content {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

section.events ul li .content .details {
  display: flex;
  gap: 16px;
  align-items: center;
  color: var(--primary-color);
}

section.events ul li .content .details path {
  stroke: var(--primary-color);
}

section.events ul li .content p {
  line-height: 1.35;
  color: var(--primary-color);
}

section.events ul li .content a:not(.btn.primary) {
  color: var(--primary-color);
}

/* Footer */

footer {
  margin: 0 var(--margin-sides);
  padding: 80px 0 0 0;
  color: var(--primary-color);
}

footer .top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  gap: 25px;
  padding-block-end: 40px;
}

footer .info{
  width: 25rem;
}

footer h4 {
  font-family: var(--font-tertiary);
  font-weight: 400;
  font-size: 1.2rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  padding-inline-start: 0;
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.1s ease-in;
}

footer .logo path {
  fill: var(--primary-color);
}

footer ul {
  padding-block-end: 10px;
}

footer ul a:not(.btn.primary):hover {
  margin-inline-start: 10px;
  text-decoration: underline;
  transition: all 0.1s ease-in;
}

footer .bottom {
  border-block-start: var(--line-px) var(--line-style) var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
  padding: 40px 0;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

section.block {
  margin: 0 var(--margin-sides);
  padding: 80px 0;
  border-block-end: var(--line-px) var(--line-style) var(--primary-color);
}

section.block .title {
  margin-bottom: 40px;
}

section.block .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section.block h2 {
  font-family: var(--font-tertiary);
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--primary-color);
  margin-block-start: 0;
}

section.block h3 {
  font-family: var(--font-primary);
  font-size: 1.75rem;
  font-weight: 300;
  color: var(--primary-color);
  margin: 0;
}

section.block h4 {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--primary-color);
  margin: 0;
}

section.block p {
  font-family: var(--font-primary);
  line-height: 1.42;
  color: var(--primary-color);
  text-wrap: balance;
  max-width: 540px;
  max-width: 960px;
}

section.block p a {
  color: var(--primary-color);
  text-decoration: underline;
}

section.block a.line-animation:has(svg) {
  display: flex !important;
}

section.block video {
  width: 100%;
  height: fit-content;
}

section.block video source {
  object-fit: cover;
}

.vacancies ul {
  list-style-type: none;
  padding: 0;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

ul li.vacancy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-block-end: var(--line-px) var(--line-style) var(--primary-color)
}

ul li.vacancy:last-child {
  border-block-end: none;
}

ul li.vacancy .title {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li.vacancy .details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
} 

ul li.vacancy .detail p {
  text-align: right;
}

section.members {
  margin: 0 var(--margin-sides);
  padding: 40px 0;
  border-block-end: var(--line-px) var(--line-style) var(--primary-color);
}

section.members li {
  gap: 0;
}

section.members a, section.block a {
  color: var(--primary-color)
}

.banner {
  aspect-ratio: 16 / 16;
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--secondary-color-ghost);
  position: relative;
}

.banner .banner img, .banner .banner source {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
  z-index: 0;
}

.banner .logo img, .banner .logo source {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 0;
}

section.members .logo {
  position: absolute;
  inset-inline-start: 1rem;
  inset-block-end: 1rem;
  height: 5rem;
  z-index: 10;
}

section.members .buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section.members h3 {
  font-family: var(--font-primary);
  font-size: 1.75rem;
  font-weight: 300;
  color: var(--primary-color);
  margin-block-end: 0;
}

section.members p {
  font-family: var(--font-primary);
  line-height: 1.42;
  color: var(--primary-color);

}

section.members .buttons .btn.secondary {
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}

section.vacancies {
  margin: 0 var(--margin-sides);
  padding: 40px 0;
  border-bottom: none;
}

section.vacancies ul {
  padding-block-start: 10px;
  grid-template-columns: repeat(1, 1fr);
} 

@media screen and (min-width: 768px) {
  body {
    --margin-sides: 48px;
  }

  footer .bottom {
    flex-direction: row;
  }
}

@media screen and (min-width: 1050px) {

  .navigation nav > ul.menu {
    display: flex;
  }

  .navigation nav > ul.cta {
    display: flex;
  }
  
  .navigation nav > ul.mobile-menu{
    display: none;
  }

  section.hero {
    flex-direction: row;
  }

  section.hero .content h1 {
    font-size: 4.3rem;
  }

  section.hero .content .buttons {
    align-items: center;
    flex-direction: row;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    position: relative; /* Ensure positioning context for pseudo-elements */
  }
  
  .grid.with-lines li {
    position: relative; /* Ensure positioning context for pseudo-elements */
  }
  
  /* General line settings */
  .grid.with-lines li::after {
    background: var(--primary-color);
    content: "";
    display: block;
    height: 100%;
    inset-inline-end: 0px;
    position: absolute;
    top: 0px;
    width: var(--line-px);
  }
  
  /* Padding adjustment for odd elements */
  .grid.with-lines li:nth-child(odd) {
    padding-inline-end: 25px;
  }
  
  /* Hide lines after even elements */
  .grid.with-lines li:nth-child(even)::after {
    display: none;
  }
  
  /* Horizontal lines for odd elements, except the last one */
  .grid.with-lines li:not(:last-child):nth-child(odd)::before {
    background: var(--primary-color);
    content: "";
    height: var(--line-px);
    inset-block-end: -25px;
    position: absolute;
    width: calc(100%);
    z-index: 99;
  }
  
  /* Horizontal lines for even elements, except the last one */
  .grid.with-lines li:not(:last-child):nth-child(even)::before {
    background: var(--primary-color);
    content: "";
    height: var(--line-px);
    inset-block-end: -25px;
    position: absolute;
    width: calc(100% + 50px);
    inset-inline-start: -50px;
    z-index: 99;
  }
  
  /* Special handling for the second last odd item */
  .grid.with-lines li:nth-last-child(2):nth-child(odd)::before {
    width: calc(100% - 50px);
  }
  
  /* Special handling for the last two elements if they are an odd-even pair */
  .grid.with-lines li:nth-last-child(2):nth-child(odd)::before,
  .grid.with-lines li:nth-last-child(1):nth-child(even)::before {
    display: none;
  }
  
  /* Overriding the last-child pseudo-elements */
  .grid.with-lines li:nth-last-child(1)::before {
    display: none;
  }

  section.events h2 {
    font-size: 4.3rem;
  }

  section.events ul {
    grid-template-columns: repeat(2, 1fr);
    padding-inline-end: 25px;
  }

  section.members ul {
    grid-template-columns: repeat(3, 1fr);
  } 
}

@media screen and (min-width: 1250px) {

  .navigation nav > ul.circle-buttons {
    display: flex;
  }
  
  .navigation nav span.devider {
    display: flex;
  }

  section.info {
    flex-direction: row;
  }

  .grid.grid.with-lines {
    padding-inline-start: 25px;
  }

  section.info article {
    border-inline-start: var(--line-px) var(--line-style) var(--primary-color);
  }

  footer .top {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.line-animation {
  display: inline-block;
  position: relative;
  text-decoration: none !important;
}

.line-animation::after {
  content: '';
  position: absolute;
  width: calc(100%); /* 16px is the padding on the button */
  height: 1.5px;
  bottom: 0;
  left: 0;
  background: var(--primary-color);
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.line-animation:hover::after {
  animation: example 0.4s forwards;
}

/* Standard syntax */
@keyframes example {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }
  49% {
    transform: scaleX(0);
    transform-origin: right;
  }
  50% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}