<section class="navigation">
    <a aria-label="Terug naar home pagina" class="logo" href="/">
      <svg width="110" height="82" viewBox="0 0 110 82" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_50_3728)">
        <path d="M74.5689 34.9173H11.3594V11.1884H74.5689V34.9173ZM12.7268 33.5696H73.2015V12.5346H12.7268V33.5696Z" fill="#1E1E1E"/>
        <path d="M92.1533 58.1137H5.67773V5.59338H92.1533V58.1137ZM7.04514 56.766H90.791V6.93959H7.04514V56.766Z" fill="#1E1E1E"/>
        <path d="M110 81.9972H0V-0.00280762H110V81.9972ZM1.36234 80.6495H108.633V1.34489H1.36234V80.6495Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2624 23.3437C25.2624 20.9582 23.7765 19.8297 21.6246 19.8297H20.2658V26.8577H21.6246C23.777 26.8577 25.2624 25.7281 25.2624 23.3437ZM18.7363 18.4635H21.5952C24.6121 18.4635 26.8207 20.1511 26.8207 23.3437C26.8207 26.5362 24.6121 28.2233 21.5952 28.2233H18.7363V18.4635Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.0619 24.7517C37.0619 27.1076 35.4337 28.4194 33.1957 28.4194C30.9577 28.4194 29.332 27.1081 29.332 24.7517V18.4624H30.8605V24.7077C30.8362 25.0179 30.8796 25.3296 30.9878 25.6218C31.096 25.914 31.2665 26.18 31.4878 26.4018C31.709 26.6237 31.976 26.7962 32.2706 26.9078C32.5652 27.0193 32.8807 27.0674 33.1957 27.0487C33.511 27.0678 33.8268 27.02 34.1218 26.9086C34.4167 26.7971 34.684 26.6247 34.9057 26.4029C35.1273 26.181 35.2981 25.9149 35.4066 25.6225C35.5151 25.3301 35.5587 25.0182 35.5345 24.7077V18.4644H37.0619V24.7517Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M39.1221 18.464H46.7664V19.8322H43.707V28.2238H42.1795V19.8322H39.1211L39.1221 18.464Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M57.3645 25.8533C56.3324 27.5124 55.1701 28.4194 53.0334 28.4194C50.215 28.4194 48.1208 26.3265 48.1208 23.3441C48.0951 22.6846 48.2052 22.0269 48.4444 21.4105C48.6836 20.7942 49.0471 20.232 49.5128 19.7578C49.9785 19.2837 50.5368 18.9074 51.154 18.6518C51.7713 18.3961 52.4347 18.2663 53.1043 18.2702C53.9833 18.2351 54.8534 18.4557 55.6061 18.9045C56.3589 19.3532 56.9611 20.0103 57.3377 20.7939L56.1222 21.6579C55.4132 20.3062 54.4357 19.6364 53.0779 19.6364C51.2092 19.6364 49.6792 21.1977 49.6792 23.3461C49.6792 25.4649 51.1079 27.0537 53.0638 27.0537C54.3937 27.0537 55.4405 26.4263 56.1916 25.0327L57.3645 25.8533Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M59.9082 18.464H61.4356V22.5625H66.0504V18.464H67.5814V28.2238H66.0504V23.9287H61.4356V28.2238H59.9082V18.464Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7111 45.976C19.7111 43.5911 18.2257 42.462 16.0738 42.462H14.7145V49.49H16.0738C18.2262 49.49 19.7111 48.3614 19.7111 45.976ZM13.1855 41.0963H16.0444C19.0608 41.0963 21.2694 42.7839 21.2694 45.976C21.2694 49.168 19.0608 50.8557 16.0444 50.8557H13.1855V41.0963Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.2598 50.8557H27.7872V41.0958H26.2598V50.8557Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M40.6634 49.3498C40.3623 49.8897 39.9133 50.3355 39.3676 50.6361C38.822 50.9368 38.2016 51.0803 37.5771 51.0504C34.7876 51.0504 32.7482 48.9175 32.7482 45.975C32.7289 45.316 32.8438 44.6599 33.0862 44.0454C33.3286 43.431 33.6935 42.8706 34.1593 42.3975C34.6252 41.9244 35.1826 41.5481 35.7985 41.291C36.4144 41.0338 37.0764 40.9009 37.7453 40.9002C38.6043 40.8716 39.4545 41.0797 40.2001 41.5012C40.9457 41.9227 41.5573 42.5408 41.966 43.2861L40.8037 44.0803C40.5218 43.5146 40.0812 43.0405 39.5342 42.7142C38.9871 42.388 38.3566 42.2232 37.7174 42.2394C35.8628 42.2394 34.3065 43.7039 34.3065 45.976C34.3065 48.1932 35.6511 49.6847 37.604 49.6847C39.4019 49.6847 40.3084 48.5551 40.5216 47.0367H37.1791V45.7943H42.0485V50.8552H41.0306L40.6634 49.3498Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M47.3535 50.8557H48.881V41.0958H47.3535V50.8557Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M53.3082 41.0958H60.9509V42.4615H57.8925V50.8557H56.3651V42.4615H53.3066L53.3082 41.0958Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M67.7293 43.7453L66.5249 46.8275H69.6112L68.4099 43.7453C68.2104 43.2431 68.0701 42.8114 68.0701 42.8114C68.0701 42.8114 67.9288 43.2431 67.7293 43.7453ZM67.3044 41.0968H68.8354L72.7973 50.8566H71.1843L70.1207 48.1383H66.0155L64.9519 50.8566H63.3379L67.3044 41.0968Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M77.1719 41.0958H78.7003V49.5169H83.6696V50.8557H77.1719V41.0958Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4363 66.8973L11.232 69.9795H14.3183L13.1139 66.8973C12.9164 66.3951 12.7741 65.9634 12.7741 65.9634C12.7741 65.9634 12.6333 66.3951 12.4363 66.8973ZM12.0104 64.2488H13.5394L17.5038 74.0086H15.8888L14.8252 71.2903H10.722L9.65846 74.0086H8.04492L12.0104 64.2488Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M29.202 72.5022C28.9011 73.0424 28.4521 73.4882 27.9064 73.7889C27.3607 74.0896 26.7402 74.2331 26.1157 74.2028C23.3267 74.2028 21.2873 72.07 21.2873 69.128C21.2679 68.469 21.3828 67.8129 21.6251 67.1984C21.8674 66.5839 22.2323 66.0235 22.6981 65.5504C23.1639 65.0772 23.7212 64.7009 24.3371 64.4436C24.953 64.1864 25.6149 64.0535 26.2838 64.0527C27.1428 64.0239 27.9929 64.2319 28.7385 64.6532C29.4842 65.0745 30.0958 65.6925 30.5046 66.4376L29.3428 67.2317C29.0609 66.6661 28.6203 66.192 28.0732 65.8657C27.5262 65.5395 26.8957 65.3747 26.2565 65.3909C24.4019 65.3909 22.8456 66.8554 22.8456 69.128C22.8456 71.3447 24.1902 72.8357 26.1436 72.8357C27.9414 72.8357 28.848 71.7061 29.0612 70.1902H25.7187V68.9468H30.5881V74.0082H29.5707L29.202 72.5022Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.2168 64.2488H42.7282V65.5875H37.7442V68.2919H42.3321V69.6306H37.7452V72.6699H42.7712V74.0086H36.2178L36.2168 64.2488Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.1348 64.2483H49.6911L54.1382 71.0497C54.294 71.2881 54.4361 71.5349 54.5641 71.7889V64.2483H56.0328V74.0086H54.4765L50.0309 67.2062C49.8755 66.9683 49.7339 66.7218 49.607 66.468V74.0086H48.1348V64.2483Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M70.5794 71.6382C69.5473 73.2974 68.385 74.2038 66.2483 74.2038C63.4299 74.2038 61.3358 72.1114 61.3358 69.129C61.3098 68.4695 61.4197 67.8117 61.6588 67.1953C61.8978 66.5788 62.2611 66.0165 62.7267 65.5422C63.1923 65.0679 63.7506 64.6914 64.3679 64.4356C64.9851 64.1798 65.6486 64.0499 66.3182 64.0537C67.197 64.0186 68.0669 64.2391 68.8194 64.6878C69.572 65.1365 70.174 65.7934 70.5505 66.5769L69.3381 67.4419C68.6291 66.0902 67.6516 65.4203 66.2939 65.4203C64.4251 65.4203 62.8951 66.9817 62.8951 69.13C62.8951 71.2489 64.3238 72.8377 66.2792 72.8377C67.6096 72.8377 68.6564 72.2102 69.4075 70.8161L70.5794 71.6382Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M75.7637 74.0081H77.2911V64.2488H75.7637V74.0081Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M83.0625 64.2488H89.5739V65.5875H84.5899V68.2919H89.1773V69.6306H84.5899V72.6699H89.6159V74.0086H83.0625V64.2488Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M98.7137 68.3473C100.849 68.7516 101.912 69.6301 101.912 71.2609C101.912 72.8367 100.526 74.2058 98.2883 74.2058C95.9257 74.2058 94.5522 72.8671 94.2266 71.1246L95.5712 70.4417C95.8523 72.0445 96.773 72.8956 98.2751 72.8956C99.5918 72.8956 100.383 72.1843 100.383 71.3203C100.383 70.3015 99.564 69.8548 97.8644 69.5353C96.0245 69.1859 94.6798 68.3079 94.6798 66.6627C94.6798 65.1153 96.0807 64.0552 98.0761 64.0552C98.8727 64.0071 99.6633 64.2187 100.326 64.6573C100.989 65.0958 101.486 65.737 101.743 66.482L100.527 67.1808C100.39 66.646 100.07 66.174 99.621 65.8439C99.1724 65.5138 98.6223 65.3455 98.0629 65.3674C97.0161 65.3674 96.1242 65.8012 96.1242 66.6372C96.1242 67.5157 96.974 68.0174 98.7152 68.3513" fill="#1E1E1E"/>
        <path d="M74.5689 34.9173H11.3594V11.1884H74.5689V34.9173ZM12.7268 33.5696H73.2015V12.5346H12.7268V33.5696Z" fill="#1E1E1E"/>
        <path d="M92.1533 58.1137H5.67773V5.59338H92.1533V58.1137ZM7.04514 56.766H90.791V6.93959H7.04514V56.766Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M25.2624 23.3437C25.2624 20.9582 23.7765 19.8297 21.6246 19.8297H20.2658V26.8577H21.6246C23.777 26.8577 25.2624 25.7281 25.2624 23.3437ZM18.7363 18.4635H21.5952C24.6121 18.4635 26.8207 20.1511 26.8207 23.3437C26.8207 26.5362 24.6121 28.2233 21.5952 28.2233H18.7363V18.4635Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.0619 24.7517C37.0619 27.1076 35.4337 28.4194 33.1957 28.4194C30.9577 28.4194 29.332 27.1081 29.332 24.7517V18.4624H30.8605V24.7077C30.8362 25.0179 30.8796 25.3296 30.9878 25.6218C31.096 25.914 31.2665 26.18 31.4878 26.4018C31.709 26.6237 31.976 26.7962 32.2706 26.9078C32.5652 27.0193 32.8807 27.0674 33.1957 27.0487C33.511 27.0678 33.8268 27.02 34.1218 26.9086C34.4167 26.7971 34.684 26.6247 34.9057 26.4029C35.1273 26.181 35.2981 25.9149 35.4066 25.6225C35.5151 25.3301 35.5587 25.0182 35.5345 24.7077V18.4644H37.0619V24.7517Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M39.1221 18.464H46.7664V19.8322H43.707V28.2238H42.1795V19.8322H39.1211L39.1221 18.464Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M57.3645 25.8533C56.3324 27.5124 55.1701 28.4194 53.0334 28.4194C50.215 28.4194 48.1208 26.3265 48.1208 23.3441C48.0951 22.6846 48.2052 22.0269 48.4444 21.4105C48.6836 20.7942 49.0471 20.232 49.5128 19.7578C49.9785 19.2837 50.5368 18.9074 51.154 18.6518C51.7713 18.3961 52.4347 18.2663 53.1043 18.2702C53.9833 18.2351 54.8534 18.4557 55.6061 18.9045C56.3589 19.3532 56.9611 20.0103 57.3377 20.7939L56.1222 21.6579C55.4132 20.3062 54.4357 19.6364 53.0779 19.6364C51.2092 19.6364 49.6792 21.1977 49.6792 23.3461C49.6792 25.4649 51.1079 27.0537 53.0638 27.0537C54.3937 27.0537 55.4405 26.4263 56.1916 25.0327L57.3645 25.8533Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M59.9082 18.464H61.4356V22.5625H66.0504V18.464H67.5814V28.2238H66.0504V23.9287H61.4356V28.2238H59.9082V18.464Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7111 45.976C19.7111 43.5911 18.2257 42.462 16.0738 42.462H14.7145V49.49H16.0738C18.2262 49.49 19.7111 48.3614 19.7111 45.976ZM13.1855 41.0963H16.0444C19.0608 41.0963 21.2694 42.7839 21.2694 45.976C21.2694 49.168 19.0608 50.8557 16.0444 50.8557H13.1855V41.0963Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M26.2598 50.8557H27.7872V41.0958H26.2598V50.8557Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M40.6634 49.3498C40.3623 49.8897 39.9133 50.3355 39.3676 50.6361C38.822 50.9368 38.2016 51.0803 37.5771 51.0504C34.7876 51.0504 32.7482 48.9175 32.7482 45.975C32.7289 45.316 32.8438 44.6599 33.0862 44.0454C33.3286 43.431 33.6935 42.8706 34.1593 42.3975C34.6252 41.9244 35.1826 41.5481 35.7985 41.291C36.4144 41.0338 37.0764 40.9009 37.7453 40.9002C38.6043 40.8716 39.4545 41.0797 40.2001 41.5012C40.9457 41.9227 41.5573 42.5408 41.966 43.2861L40.8037 44.0803C40.5218 43.5146 40.0812 43.0405 39.5342 42.7142C38.9871 42.388 38.3566 42.2232 37.7174 42.2394C35.8628 42.2394 34.3065 43.7039 34.3065 45.976C34.3065 48.1932 35.6511 49.6847 37.604 49.6847C39.4019 49.6847 40.3084 48.5551 40.5216 47.0367H37.1791V45.7943H42.0485V50.8552H41.0306L40.6634 49.3498Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M47.3535 50.8557H48.881V41.0958H47.3535V50.8557Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M53.3082 41.0958H60.9509V42.4615H57.8925V50.8557H56.3651V42.4615H53.3066L53.3082 41.0958Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M67.7293 43.7453L66.5249 46.8275H69.6112L68.4099 43.7453C68.2104 43.2431 68.0701 42.8114 68.0701 42.8114C68.0701 42.8114 67.9288 43.2431 67.7293 43.7453ZM67.3044 41.0968H68.8354L72.7973 50.8566H71.1843L70.1207 48.1383H66.0155L64.9519 50.8566H63.3379L67.3044 41.0968Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M77.1719 41.0958H78.7003V49.5169H83.6696V50.8557H77.1719V41.0958Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4363 66.8973L11.232 69.9795H14.3183L13.1139 66.8973C12.9164 66.3951 12.7741 65.9634 12.7741 65.9634C12.7741 65.9634 12.6333 66.3951 12.4363 66.8973ZM12.0104 64.2488H13.5394L17.5038 74.0086H15.8888L14.8252 71.2903H10.722L9.65846 74.0086H8.04492L12.0104 64.2488Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M29.202 72.5022C28.9011 73.0424 28.4521 73.4882 27.9064 73.7889C27.3607 74.0896 26.7402 74.2331 26.1157 74.2028C23.3267 74.2028 21.2873 72.07 21.2873 69.128C21.2679 68.469 21.3828 67.8129 21.6251 67.1984C21.8674 66.5839 22.2323 66.0235 22.6981 65.5504C23.1639 65.0772 23.7212 64.7009 24.3371 64.4436C24.953 64.1864 25.6149 64.0535 26.2838 64.0527C27.1428 64.0239 27.9929 64.2319 28.7385 64.6532C29.4842 65.0745 30.0958 65.6925 30.5046 66.4376L29.3428 67.2317C29.0609 66.6661 28.6203 66.192 28.0732 65.8657C27.5262 65.5395 26.8957 65.3747 26.2565 65.3909C24.4019 65.3909 22.8456 66.8554 22.8456 69.128C22.8456 71.3447 24.1902 72.8357 26.1436 72.8357C27.9414 72.8357 28.848 71.7061 29.0612 70.1902H25.7187V68.9468H30.5881V74.0082H29.5707L29.202 72.5022Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M36.2168 64.2488H42.7282V65.5875H37.7442V68.2919H42.3321V69.6306H37.7452V72.6699H42.7712V74.0086H36.2178L36.2168 64.2488Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.1348 64.2483H49.6911L54.1382 71.0497C54.294 71.2881 54.4361 71.5349 54.5641 71.7889V64.2483H56.0328V74.0086H54.4765L50.0309 67.2062C49.8755 66.9683 49.7339 66.7218 49.607 66.468V74.0086H48.1348V64.2483Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M70.5794 71.6382C69.5473 73.2974 68.385 74.2038 66.2483 74.2038C63.4299 74.2038 61.3358 72.1114 61.3358 69.129C61.3098 68.4695 61.4197 67.8117 61.6588 67.1953C61.8978 66.5788 62.2611 66.0165 62.7267 65.5422C63.1923 65.0679 63.7506 64.6914 64.3679 64.4356C64.9851 64.1798 65.6486 64.0499 66.3182 64.0537C67.197 64.0186 68.0669 64.2391 68.8194 64.6878C69.572 65.1365 70.174 65.7934 70.5505 66.5769L69.3381 67.4419C68.6291 66.0902 67.6516 65.4203 66.2939 65.4203C64.4251 65.4203 62.8951 66.9817 62.8951 69.13C62.8951 71.2489 64.3238 72.8377 66.2792 72.8377C67.6096 72.8377 68.6564 72.2102 69.4075 70.8161L70.5794 71.6382Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M75.7637 74.0081H77.2911V64.2488H75.7637V74.0081Z" fill="#1E1E1E"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M83.0625 64.2488H89.5739V65.5875H84.5899V68.2919H89.1773V69.6306H84.5899V72.6699H89.6159V74.0086H83.0625V64.2488Z" fill="#1E1E1E"/>
        </g>
        <defs>
        <clipPath id="clip0_50_3728">
        <rect width="110" height="82" fill="white"/>
        </clipPath>
        </defs>
      </svg> 
    </a>

    <nav>
      <ul class="menu">
        <li><a aria-label="Home" href="/">Home</a></li>
        <li><a aria-label="Over ons" href="/about">Over Ons</a></li>
        <li><a aria-label="Onze leden" href="/members">Onze Leden</a></li>
        <li><a aria-label="Nieuws" href="/news">Nieuws</a></li>
        <li><a aria-label="Vacatures" href="/vacancies">Vacatures</a></li>
        <li><a aria-label="Contact" href="/contact">Contact</a></li>
      </ul>
      
      <ul class="cta">
        <li><a aria-label="word lid" class="btn primary" href="/">Word lid</a></li>
      </ul>
      <span class="devider"></span>

      <ul class="circle-buttons">
        <li class="active">
          <a aria-label="lightmode" href="/theme/lightmode">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 2V4M12 20V22M4 12H2M6.31412 6.31412L4.8999 4.8999M17.6859 6.31412L19.1001 4.8999M6.31412 17.69L4.8999 19.1042M17.6859 17.69L19.1001 19.1042M22 12H20M17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </a>
      </li>
      
      <li class="">
          <a aria-label="darkmode" href="/theme/darkmode">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M22 15.8442C20.6866 16.4382 19.2286 16.7688 17.6935 16.7688C11.9153 16.7688 7.23116 12.0847 7.23116 6.30654C7.23116 4.77135 7.5618 3.3134 8.15577 2C4.52576 3.64163 2 7.2947 2 11.5377C2 17.3159 6.68414 22 12.4623 22C16.7053 22 20.3584 19.4742 22 15.8442Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </a>
      </li>

      </ul>
      <ul class="mobile-menu">
        <li>
          <button>
            Open menu 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 12H21M3 6H21M9 18H21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
        </li>
      </ul>
    </nav>
</section>