<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/new.css" />
    
    <script src="/js/main.js" defer></script>

    <title><%= pageTitle %> - Dutch Digital Agencies</title>
    <meta content="Home" name="description" />
    <meta property="og:title" content="Dutch Digital Agencies" />
    <meta property="og:site_name" content="Over DDA - Dutch Digital Agencies" />
    <meta property="og:description" content="Dutch Digital Agencies (DDA) verenigt en vertegenwoordigt de beste digitale bureaus van Nederland. Samen maken we de wereld om ons heen steeds een beetje slimmer. Stap voor stap, klik na klik.  Digitale bureaus helpen bedrijven en publieke instellingen om hun gebruikers beter van dienst te zijn. Met een app bijvoorbeeld, of een digitaal platform. En … Continued" />
    <meta property="og:image" content="Home" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="icon" type="image" href="Home" />
</head>