<!DOCTYPE html>
<html lang="nl">
  <%- include('components/head', pageTitle = "Cases") %>
    <article class="container">
        <%- include('components/header') %>

        <section class="hero">
          <article class="content">
            <h1>Cases</h1>
            <p>Bekijk hier alle cases</p>
          </article>
        </section>
        
        <%- include('components/footer') %>
    </div>
  </body>
</html>

