<!DOCTYPE html>
<html lang="nl">
  <%- include('components/head', pageTitle = "Vacatures") %>
    <article class="container">
        <%- include('components/header') %>
        
        <section class="hero">
          <article class="content">
            <h1>Vacatures</h1>
            <p>Bekijk hier alle vacatures</p>
          </article>

          <form class="search-form" aria-label="Zoekformulier">
            <label for="search-field" class="visually-hidden">Zoeken</label>
            <fieldset>
              <input type="search" id="search-field" class="search-field" placeholder="Zoeken" value="" name="s">
              <button type="submit" class="btn primary">Zoeken</button>
            </fieldset>
          </form>
        </section>

        <section class="block vacancies">
          <article class="content">
              <div class="vacancies">
                <ul>
                  <% data.forEach(item => { %>
                    <%- include('components/vacancy', { item: item }) %>
                  <% }) %>                    
                </ul>
              </div>
              
          </article>
        </section>

        <%- include('components/footer') %>
    </div>
  </body>
</html>

