<!DOCTYPE html>
<html lang="nl">
  <%- include('../components/head', pageTitle = "Homepagina") %>
    <article class="container">
        <%- include('../components/header') %>

        <section class="hero with-image">
          <article class="content">
            <h1>Pagina niet gevonden</h1>
            <p>
              De pagina die je zoekt bestaat niet of is verplaatst.
            </p>
            <div class="buttons">
              <a aria-label="word lid" class="btn primary" href="/">Ga terug naar home</a>
              <a aria-label="bekijk alle vacatures" class="btn secondary line-animation" href="/vacancies">Bekijk alle vacatures</a>
            </div>    
          </article>
        </section>
        
        <%- include('../components/footer') %>
    </div>
  </body>
</html>

