<!DOCTYPE html>
<html lang="nl">
  <%- include('../components/head', pageTitle = "Over ons") %>
    <article class="container">
        <%- include('../components/header') %>

        <section class="hero">
          <article class="content">
            <h1>Over ons</h1>
            <p>Dutch Digital Agencies (DDA) verenigt en vertegenwoordigt de beste digitale bureaus van Nederland. Samen maken we de wereld om ons heen steeds een beetje slimmer. Stap voor stap, klik na klik. </p>
          </article>
        </section>

        <section class="block">
          <div class="content">
            <p>Digitale bureaus helpen bedrijven en publieke instellingen om hun gebruikers beter van dienst te zijn. Met een app bijvoorbeeld, of een digitaal platform. En daar begint het pas. Want we blijven verslimmen. Met nog handigere knoppen, een persoonlijker inlogscherm of nieuwe functionaliteiten, altijd gebaseerd op de nieuwste technologieën. Al deze stappen en stapjes zorgen voor vooruitgang waarmee miljoenen Nederlanders elke dag hun voordeel doen. Van een bank-app tot een dating-app en van een datagedreven verzekering tot een digitale zorgverlener.</p>
          </div>

          <div class="content">
            <h3>DDA verenigt Nederlands beste verslimmers </h3>
            <p>Sinds 2002 verbindt DDA de meest toonaangevende digitale bureaus. We delen kennis en ervaringen, prikkelen met nieuwe ideeën en digitale toepassingen en laten zien wat we kunnen. Samen versterken we onze snelgroeiende branche en ontwikkelen het talent van morgen. We zijn trots op onze kennis en ons werk. En vertellen daar graag over op events en in de media. Met 165 leden staan we voor het beste dat de Nederlandse digitale industrie te bieden heeft. We zijn bedenkers en makers, ontwerpers en coders, testers en verslimmers. Flexibele teams met flexibele denkers. Altijd bezig met de volgende oplossing. </p>
            <p>Lees hier een aantal <a aria-label="inspirerende cases" class="line-animation" href="https://dutchdigitalagencies.com/verslimmers-cases/">inspirerende cases</a> van Verslimmers.</p>
            <h3>Daarom worden bureaus lid van Dutch Digital Agencies </h3>
            <p>Elk jaar dagen we onszelf en elkaar uit op de Dutch Digital Day, een dag vol internationale inspiratie en uitgesproken sprekers. Maar een lidmaatschap heeft nog veel meer te bieden:</p>
            <ul>
              <li>
                <h4>Het beste voor je bureau.</h4>
                <p>Als lid kun je het officiële DDA-logo gebruiken: het kenmerk van de beste digitale bureaus. Ook heb je toegang tot onze richtlijnen voor algemene voorwaarden, model- en bewerkersovereenkomsten. Onze jaarlijkse bureau-benchmark geeft je helderheid over beloningskaders voor je team. </p>
              </li>
              <li>
                <h4>Een ijzersterk netwerk.</h4>
                <p>Ontmoet vakgenoten bij de beste bureaus. Volg elkaar, leer van elkaar, help elkaar en leer elkaar steeds beter kennen. Samen brengen we de Nederlandse digitale branche verder. </p>
              </li>
              <li>
                <h4>De toegangspoort naar talent.</h4>
                <p>Wij brengen je vacatures onder de aandacht bij starters en doorstromers. Ook helpen we digitale opleidingen om hun studie-aanbod optimaal aan te laten sluiten op de praktijk. Zo vind en bind je het beste talent.</p>
              </li>
              <li>
                <h4>Inspirerende events.</h4>
                <p>We organiseren on- en offline events om je bureau nog verder te versterken. Van je groeistrategie tot regelgeving en digitale inclusiviteit, wij zorgen ervoor dat je bij blijft. Ook altijd een mooie gelegenheid om elkaar weer even te spreken!</p>
              </li>
              <li>
                <h4>Samen op de kaart.</h4>
                <p>We laten weten wat Dutch Digital Agencies kunnen. In Den Haag, bij lokale overheden en naar de (internationale) media. Een vraag over digitale kansen en ontwikkelingen? Wij zorgen ervoor dat digitale bureaus aanwezig zijn in elk belangrijk maatschappelijk debat.  </p>
              </li>
            </ul>
            <p class="bold">Wil je ook lid worden? Lees meer over het <a aria-label="lidmaatschap" class="line-animation" href="/apply">lidmaatschap</a>.</p>
          </div>
        </section>

        <section class="info">
          <div class="title">
            <h2>Onze Organisatie</h2>
            <p>Maak kennis met ons bestuur en ons dagelijkse management. Ons bestuur is een afspiegeling van onze leden en bestaat uit managementleden van grote en kleinere, oude en jonge bureaus uit heel Nederland. </p>
          </div>
          <span class="devider"></span>
          <article class="content">
            <ul class="grid grid4x with-lines team">
              <li>
                <picture>
                  <img src="/images/werknemers/elvire-jaspers.png" alt="">
                </picture>
                <h3>
                  Elvire Jaspers
                </h3>
                <p>
                  CEO WeAreBrain, portefeuille PR & Communicatie
                </p>
              </li>
              <li>
                <picture>
                  <img src="/images/werknemers/karlijn-koekoek.jpg" alt="">
                </picture>
                <h3>
                  Karlijn Koekoek
                </h3>
                <p>
                  Bureaumanagement
                </p>
              </li>
              <li>
                <picture>
                  <img src="/images/werknemers/mark-landman2.jpg" alt="">
                </picture>
                <h3>
                  Mark Landman
                </h3>
                <p>
                  Managing partner DotControl, Voorzitter & portefeuille Belangenbehartiging
                </p>
              </li>
              <li>
                <picture>
                  <img src="/images/werknemers/martijn-vervoordeldonk2.jpg" alt="">
                </picture>
                <h3>
                  Martijn Vervoordeldonk
                </h3>
                <p>
                  Partnership manager iO 's-Hertogenbosch, Penningmeester
                </p>
              </li>

              <li>
                <picture>
                  <img src="/images/werknemers/nienke-van-heusden2.jpg" alt="">
                </picture>
                <h3>
                  Nienke van Heusden
                </h3>
                <p>
                  Managing Director Kaliber, portefeuille Events
                </p>
              </li>

              <li>
                <picture>
                  <img src="/images/werknemers/pieter-aarts2.jpg" alt="">
                </picture>
                <h3>
                  Pieter Aarts
                </h3>
                <p>
                  Principal Service Design, Ordina Digital, portefeuille Kennis
                </p>
              </li>

              <li>
                <picture>
                  <img src="/images/werknemers/fenna-van-raaij2.jpg" alt="">
                </picture>
                <h3>
                  Fenna van Raaij
                </h3>
                <p>
                  Bureaumanagement
                </p>
              </li>
            </ul>
          </article>
        </section>

        <%- include('../components/footer') %>
    </div>
  </body>
</html>
