<!DOCTYPE html>
<html lang="nl">
  <%- include('../components/head', pageTitle = "Contact") %>
    <article class="container">
        <%- include('../components/header') %>

        <section class="hero">
          <article class="content">
            <h1>Contact</h1>
          </article>
        </section>
        
        <section class="block">
          <div class="title">
            <h2>Waarmee kunnen we je helpen?</h2>
          </div>
          <div class="content">
            <h3>Ik heb een algemene vraag</h3>
            <p>Meer weten over onze organisatie, lidmaatschap of digitale kansen in Nederland? Je bereikt  ons elke werkdag op 085 4010391. Of mail: <a aria-label="mail ons op info@dutchdigitalagencies.com" class="line-animation" href="mailto:info@dutchdigitalagencies.com">info@dutchdigitalagencies.com</a></p>
            <h3>Ik ben journalist en heb een vraag</h3>
            <p>We beschikken over actuele inzichten, cijfers en rapportages over de digitale industrie en digitale innovatie in Nederland. Ook vertellen digitale ondernemers uit ons netwerk graag over hun visie en ervaringen. Je bereikt ons op <a aria-label="mail ons op pers@dutchdigitalagencies.com" class="line-animation" href="mailto:pers@dutchdigitalagencies.com">pers@dutchdigitalagencies.com</a></p>
            <h3>Ik organiseer een interessant event</h3>
            <p>Organiseer je een event dat van waarde kan zijn voor onze leden? Of zoek je een goede spreker uit de digitale industrie? Neem contact op via <a aria-label="mail ons op events@dutchdigitalagencies.com"class="line-animation" href="mailto:events@dutchdigitalagencies.com">events@dutchdigitalagencies.com</a></p>
          </div>
        </section>

        <%- include('../components/footer') %>
    </div>
  </body>
</html>

