<!DOCTYPE html>
<html lang="nl">
  <%- include('../components/head', pageTitle = "Onze leden") %>
    <article class="container">
        <%- include('../components/header') %>

        <section class="hero members">
          <article class="content">
            <h1>Onze leden</h1>
            <p>De beste digitale bureaus van Nederland zijn verenigd in Dutch Digital Agencies. Filter op provincie en omvang en zoek contact met het bureau dat het beste bij past bij je uitdaging.
              Wil je meer weten over het lidmaatschap? Ga dan naar <a aria-label="deze pagina" class="line-animation" href="/apply">deze pagina</a> voor meer informatie.</p>
          </article>

          <form class="search-form" aria-label="Zoekformulier">
            <label for="search-field" class="visually-hidden">Zoeken</label>
            <fieldset>
              <input type="search" id="search-field" class="search-field" placeholder="Zoeken" value="" name="s">
              <button type="submit" class="btn primary">Zoeken</button>
            </fieldset>
          </form>
        </section>

        <section class="members">
          <article class="content">
            <ul class="grid grid3x">
              <% if (data && data.length > 0) { %>
              <% data.forEach(item=> { %>
                <%- include('../components/cards/member', { item: item }) %>
              <% }) %>
              <% } else { %>
                <li>
                    <p>Er zijn momenteel geen leden gevonden.</p>
                </li>
              <% } %>
            </ul>
          </article>
        </section>

        <%- include('../components/footer') %>
    </div>
  </body>
</html>
